* {
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* margin: auto; */
}

.main-cont {
    display: flex;
    justify-items: center;
    align-content: center;
}

.txt {
    size: 20dvb;
    width: fit-content;
    height: fit-content;
    text-align: center;
}