* {
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.main-cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt {
    size: 100;
}